@font-face {
  font-family: "afta_serifitalic";
  src: url("aftaserifthin-italic-webfont.woff2") format("woff2"),
    url("aftaserifthin-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "afta_serifregular";
  src: url("aftaserifthin-regular-webfont.woff2") format("woff2"),
    url("aftaserifthin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ahellyaitalic";
  src: url("ahellya_italic-webfont.woff2") format("woff2"), url("ahellya_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ahellyaregular";
  src: url("ahellya-webfont.woff2") format("woff2"), url("ahellya-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* index */
body.index {
  width: 1450px;
  height: auto;
  background-color: rgb(208, 255, 0);
}

/*Containers*/
#container-index {
  margin-left: 50px;
  margin-top: 50px;
  min-width: 1212px;
  max-width: 1450px;
}

#container-blurb {
  margin: auto;
  width: 390px;
  float: left;
  margin-top: -45px;
  position: absolute;
  height: auto;
  margin-left: -50px;
  padding-left: 50px;
  padding-top: 50px;
}

#containerfootnotes {
  float: right;
  position: absolute;
  width: 850px;
  margin-top: -380px;
  margin-left: 362px;
  height: 200px;
}

#container-menu {
  width: 900px;
  margin-top: 190px;
  margin-left: 343px;
  padding-top: 5px;
  height: 150px;
}

#worklist {
  margin: auto;
  width: 900px;
  height: auto;
  margin-left: 110px;
  margin-top: -98px;
  position: absolute;
  padding-bottom: 30px;
  padding-top: 44px;
}

#otherlist {
  width: 440px;
  height: auto;
  margin-left: -342px;
  margin-top: 15px;
  position: absolute;
  padding-top: 5px;
  border-top: dashed 1px #a737b1;
  padding-bottom: 50px;
}

#openingspace { 
  margin: auto;
  width: 900px;
  height: auto;
  margin-left: 10px;
  margin-top: -55px;
  position: absolute;
  padding-bottom: 30px;
  }
  

/* Menu */
#menu {
  font-family: "afta_serifregular", serif;
  font-size: 24pt;
  color: rgb(255, 254, 214);
  line-height: 120%;
  text-align: right;
  font-weight: bold;
  padding-right: 800px;
}

#menu a:link {
  color: rgb(255, 254, 214);
  text-decoration: none;
}

#menu a:visited {
  color: rgb(255, 254, 214);
}

#menu a:hover {
  cursor: pointer;
  text-decoration: underline;
}

#menu a:active {
  cursor: progress;
}

#menubold {
  font-family: "afta_serifregular", serif;
  font-size: 24pt;
  color: rgb(255, 254, 214);
  line-height: 75%;
  text-align: right;
  font-weight: bold;
  padding-right: 800px;
}

#menubold a:link {
  color: rgb(255, 254, 214);
  text-decoration: none;
}

#menubold a:visited {
  color: rgb(255, 254, 214);
}

#menubold a:hover {
  cursor: pointer;
  text-decoration: underline;
}

#menubold a:active {
  cursor: progress;
}

/*Inner Styles*/
#blurb-header {
  font-family: "ahellyaregular", serif;
  font-size: 14pt;
  font-weight: bold;
  color: #053f08;
  text-align: justify;
  line-height: 100%;
  padding-bottom: 3px;
}

#blurb {
  font-family: "afta_serifregular", serif;
  font-size: 9.5pt;
  color: #51744b;
  text-align: justify;
  line-height: 140%;
  padding-right: 10px;
  border-right: dashed 1px #a737b1;
}

#blurb {
  font-family: "afta_serifregular", serif;
  font-size: 9.5pt;
  color: #51744b;
  text-align: justify;
  line-height: 140%;
  padding-right: 10px;
}

#blurb sup {
  display: inline-block;
  /* border-bottom:0.5px solid; */
  color: #51744b;
  /* padding-bottom: -1px; */
  padding-left: 2px;
  cursor: pointer;
  font-size: 7pt;
}

.blurb a: {
  color: #51744b;
  font-family: "afta_serifregular", serif;
  font-size: 9.5pt;
  text-decoration: none;
}

.blurb a:link {
  color: #51744b;
  font-family: "afta_serifregular", serif;
  font-size: 9.5pt;
  text-decoration: none;
}

.blurb a:visited {
  text-decoration: none;
  color: #51744b;
  font-size: 9.5pt;
}

.blurb a:hover {
  text-decoration: underline;
  cursor: pointer;
  font-size: 9.5pt;
}

.blurb a:active {
  font-family: "ahellyaregular", serif;
  cursor: progress;
  font-size: 9.5pt;
  font-weight: bold;
}

#blurb-small {
  font-family: "afta_serifregular", serif;
  font-size: 8pt;
  color: #51744b;
  text-align: justify;
  line-height: 120%;
  /* padding-left: 14px; */
}

#blurb-bottom {
  font-family: "afta_serifregular", serif;
  font-size: 9.5pt;
  color: #51744b;
  text-align: justify;
  line-height: 120%;
  padding-right: 10px;
  margin-bottom: -222px;
}

.resize {
  position: absolute;
  left: 0px;
  width: 12px;
  height: 12px;
  padding-right: 10px;
}

/* Hidden / Shown */
.hidden {
  display: none;
}

.show {
  display: block;
}

/* Work List */
.work {
  padding-bottom: 10px;
}
.worklast {
  padding-bottom: 0px;
}

.workborder {
  /* line-height: 100%; */
  border-left: dashed 1px #a737b1;
  padding-left: 10px;
}
.worktitle {
  font-family: "ahellyaregular", serif;
  color: #053f08;
  /* height: 150px; */
  margin: auto;
  font-weight: bold;
  font-size: 14pt;
  padding-bottom: 4px;
}

.worktitle a: {
  color: #053f08;
  font-family: "afta_serifregular", serif;
  font-weight: bold;
  /* text-decoration: none; */
}

.worktitle a:link {
  color: #053f08;
  font-family: "afta_serifregular", serif;
  font-weight: bold;
  /* text-decoration: none; */
}

.worktitle a:visited {
  /* text-decoration: none; */
  color: #053f08;
  font-weight: bold;
}

.worktitle a:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

.worktitle a:active {
  font-family: "ahellyaregular", serif;
  cursor: progress;
  font-weight: bold;
}

.workinfo {
  font-family: "ahellyaregular", serif;
  font-size: 9.5pt;
  color: #51744b;
  /* line-height: 150%; */
  padding-bottom: 3px;
}

.worktitle sup {
  font-family: "ahellyaitalic", serif;
  font-weight: normal;
  font-style: italic;
  font-size: 7pt;
  letter-spacing: 1.25px;
  color: #053f08;
  /*line-height: 140%;*/
  padding-bottom: 1px;
  padding-left: 5px;
}

.worktype {
  font-family: "ahellyaitalic", serif;
  font-weight: normal;
  font-style: italic;
  font-size: 7pt;
  letter-spacing: 1.25px;
  color: #053f08;
  /*line-height: 140%;*/
  padding-bottom: 1px;
  padding-left: 5px;
}

/* Other */
.other {
  margin-bottom: 5px;
}

.otherimage {
  left: 0px;
}

.otherimage img {
  /* display: block; */
  /* margin: auto; */
  /* height: 55px; */
  max-width: 440px;
  margin-top: 0px;
  position: relative;
}

.othertitle {
  height: 70px;
  margin: auto;
  color: #053f08;
  text-align: justify;
}

.othertitle a:link {
  color: #053f08;
  font-family: "afta_serifregular", serif;
  font-size: 13pt;
  text-decoration: none;
}

.othertitle a:visited {
  text-decoration: none;
  color: #053f08;
}

.othertitle a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.othertitle a:active {
  font-family: "afta_serifregular", serif;
  cursor: progress;
}

.otherinfo {
  font-family: "afta_serifregular", serif;
  font-size: 9pt;
  color: #51744b;
  line-height: 140%;
}

/* Detail */
.detail {
  padding-bottom: 5px;
}

.detailimage {
  float: left;
  left: 0px;
  height: 200px;
  max-width: 200x;
  overflow: hidden;
  padding-bottom: 10px;
  padding-right: 10px;
}

.detailimage img {
  left: 0px;
  display: block;
  margin: auto;
  height: 200px;
  max-width: initial;
  padding-bottom: 10px;
}

.detailimagecrop {
  float: left;
  left: 0px;
  height: 200px;
  max-width: 200x;
  overflow: hidden;
  padding-bottom: 10px;
  padding-right: 10px;
}

.detailimagecrop img {
  left: 0px;
  display: block;
  margin: auto;
  height: 200px;
  max-width: initial;
  padding-bottom: 10px;
}

.detailimageshorten {
  float: left;
  left: 0px;
  height: 125px;
  width: 200x;
  padding-bottom: 10px;
  padding-right: 10px;
}

.detailimageshorten img {
  left: 0px;

  display: block;
  margin: auto;
  height: 125px;
  max-width: 200px;
  padding-bottom: 10px;
}

.detailimageshortenlength {
  float: left;
  left: 0px;
  height: 200px;
  width: 300x;
  padding-bottom: 10px;
  padding-right: 10px;
}

.detailimageshortenlength img {
  left: 0px;

  display: block;
  margin: auto;
  height: 200px;
  max-width: 300px;
  padding-bottom: 10px;
}

.detailtitle {
  /* height: 150px; */
  margin: auto;
  font-size: 14pt;
  color: #053f08;
  font-weight: bold;
}

.detailtitle a:link {
  color: #053f08;
  font-family: "ahellyaregular", serif;
  color: #053f08;
  font-weight: bold;
  text-decoration: none;
}

.detailtitle a:visited {
  text-decoration: none;
  color: #053f08;
  font-weight: bold;
}

.detailtitle a:hover {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}


.detailinforight {
  font-family: "afta_serifregular", serif;
  font-size: 16pt;
  color: #51744b;
  text-align: right;
  /*line-height: 140%;*/
  padding-bottom: 5px;
  font-style: bold;
}

.detailinforight sup {
  font-family: "ahellyaitalic", serif;
  font-weight: normal;
  font-style: italic;
  font-size: 7pt;
  letter-spacing: 1.25px;
  color: #053f08;
  /*line-height: 140%;*/
  padding-bottom: 1px;
  padding-left: 5px;
}

.detailinforight a:link {
  font-family: "afta_serifregular", serif;
  font-size: 16pt;
  color: #51744b;
  text-align: right;
  /*line-height: 140%;*/
  padding-bottom: 5px;
  text-decoration: none;
  font-style: bold;
}

.detailinforight a:visited {
  font-family: "afta_serifregular", serif;
  font-size: 16pt;
  color: #51744b;
  text-align: right;
  /*line-height: 140%;*/
  text-decoration: none;
  font-style: bold;
  padding-bottom: 5px;
}

.detailinforight a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.detailinfo {
  font-family: "afta_serifregular", serif;
  font-size: 9pt;
  color: #51744b;
  text-align: justify;
  /* line-height: 130%; */
  padding-bottom: 10px;
  padding-left: 10px;
  font-style: bold;
}

/* Entry Descriptions */
#aoo {
  margin: auto;
  width: 700px;
  height: auto;
  margin-left: 10px;
  margin-top: -1580px;
  position: absolute;
  border-bottom: dashed 1px #a737b1;
  padding-top: 50px;
}

#laughter2 {
  margin: auto;
  width: 700px;
  height: auto;
  margin-left: 10px;
  margin-top: -1580px;
  position: absolute;
  border-bottom: dashed 1px #a737b1;
  padding-top: 50px;

}

#cues {
  margin: auto;
  width: 700px;
  height: auto;
  margin-left: 10px;
  margin-top: -1580px;
  position: absolute;
  border-bottom: dashed 1px #a737b1;
  padding-top: 50px;
}

#curb {
  margin: auto;
  width: 700px;
  height: auto;
  margin-left: 10px;
  margin-top: -1580px;
  position: absolute;
  border-bottom: dashed 1px #a737b1;
  padding-top: 50px;
}

#dietz {
  margin: auto;
  width: 700px;
  height: auto;
  margin-left: 10px;
  margin-top: -1580px;
  position: absolute;
  border-bottom: dashed 1px #a737b1;
  padding-top: 50px;
}

#helbich {
  margin: auto;
  width: 700px;
  height: auto;
  margin-left: 10px;
  margin-top: -1580px;
  position: absolute;
  border-bottom: dashed 1px #a737b1;
  padding-top: 50px;
}

#shed {
  margin: auto;
  width: 700px;
  height: auto;
  margin-left: 10px;
  margin-top: -1580px;
  position: absolute;
  border-bottom: dashed 1px #a737b1;
  padding-top: 50px;
}

#delegated {
  margin: auto;
  width: 700px;
  height: auto;
  margin-left: 10px;
  margin-top: -1580px;
  position: absolute;
  border-bottom: dashed 1px #a737b1;
  padding-top: 50px;
}

#allthetime {
  margin: auto;
  width: 700px;
  height: auto;
  margin-left: 10px;
  margin-top: -1580px;
  position: absolute;
  border-bottom: dashed 1px #a737b1;
  padding-top: 50px;
}

#resistance {
  margin: auto;
  width: 700px;
  height: auto;
  margin-left: 10px;
  margin-top: -1580px;
  position: absolute;
  border-bottom: dashed 1px #a737b1;
  padding-top: 50px;
}

#bolshoi {
  margin: auto;
  width: 700px;
  height: auto;
  margin-left: 10px;
  margin-top: -1580px;
  position: absolute;
  border-bottom: dashed 1px #a737b1;
  padding-top: 50px;
}

#johnson {
  margin: auto;
  width: 700px;
  height: auto;
  margin-left: 10px;
  margin-top: -1580px;
  position: absolute;
  border-bottom: dashed 1px #a737b1;
  padding-top: 50px;
}

#heim {
  margin: auto;
  width: 700px;
  height: auto;
  margin-left: 10px;
  margin-top: -1580px;
  position: absolute;
  border-bottom: dashed 1px #a737b1;
  padding-top: 50px;
}

#crowdsync {
  margin: auto;
  width: 700px;
  height: auto;
  margin-left: 10px;
  margin-top: -1515px;
  position: absolute;
  border-bottom: dashed 1px #a737b1;
  padding-top: 50px;
}

#encue {
  margin: auto;
  width: 700px;
  height: auto;
  margin-left: 10px;
  margin-top: -1510px;
  position: absolute;
  border-bottom: dashed 1px #a737b1;
  padding-top: 50px;
}

#casualgames {
  margin: auto;
  width: 700px;
  height: auto;
  margin-left: 10px;
  margin-top: -1580px;
  position: absolute;
  border-bottom: dashed 1px #a737b1;
  padding-top: 50px;
}

#crowdinc {
  margin: auto;
  width: 700px;
  height: auto;
  margin-left: 10px;
  margin-top: -1580px;
  position: absolute;
  border-bottom: dashed 1px #a737b1;
  padding-top: 50px;
}
